.background {
  text-align: center;
  background: radial-gradient(ellipse at top right, #ad3636, transparent),
              radial-gradient(ellipse at bottom left, #555cb1, transparent),
              radial-gradient(ellipse at center, rgb(255, 136, 0), transparent 40%);
  min-height: 100vh;
  z-index: -1;
}

.App-logo {
  top: 5px;
  left: 5px;
}

.coinList {
  display: grid;
  padding-top: 48px;
}
@media screen {
  .coinList{
    grid-template-columns: repeat(3,1fr);
  }
}