.background {
  text-align: center;
  background: #1c2837;
  min-height: 1rem;
  z-index: -1;
  padding-left: 1rem;
}

.marketDominance {
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.headings {
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-left: 2rem;
  margin-right: 5rem;
  color: white;
}

.coinList {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-right: 5rem;
}

@media screen {
  .coinList {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
  }
}

.newsArticle {
  display: grid;
  margin-right: 5rem;
}