.background {
  text-align: center;
  background: #1B1F22;
  min-height: 100vh;
  z-index: -1;
}

.headings {
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 27rem;
  padding-top: 5rem;
  color: white;
}

.App-logo {
  top: 1rem;
  left: 1rem;
}

.coinList {
  display: grid;
  padding-top: 2rem;
  padding-right: 15rem;
  padding-left: 20rem;
}

.NewsArticle {
  display: grid;
  padding-right: 7.5rem;
  padding-left: 12rem;
}

@media screen {
  .coinList{
    grid-template-columns: repeat(3, 1fr);
  }
}